
<div class="my-3 mx-3 px-3">
  <h1> <%=@cocktail.name %> </h1>

  <h4 class="my-3"> The cocktail is made of: </h4>

  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li style="list-style: circle"> <%= dose.ingredient.name %> ~ <%= dose.description %>
    <%= link_to "Delete", dose_path(dose), class: "btn btn-outline-warning px-2 py-1", method: :delete, data: { confirm: 'Are you sure?' } %> </li>
    <% end %>
  </ul>

  <hr>
  <p> <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success"%> </p>
</div>


